body {
  font: 10px sans-serif;
}

.header {
  font: 30px sans-serif;
  font-weight: bold;
  text-align: center;
}

.subheader {
  text-align: center;
  color: #777;
  font: 20px sans-serif;
}

.author {
  text-align: center;
  color: #999;
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.prim-node-name {
  color: #ff0;
  font: 10px sans-serif;
  /*transform: rotate(90deg);*/
}

.prim-tooltip-away {
  color: #555;
  font: 11px sans-serif;
  font-weight: bold;
}

.prim-tooltip-holiday {
  color: #555;
  font: 11px sans-serif;
  font-weight: bold;
}

.c3-tooltip td {
  max-width:300px;
}

.c3-tooltip th {
  background-color: #eee;
  color: #000;
}

/*
.c3-xgrid-line.month line {
    stroke: #999;
}
.c3-xgrid-line.month text {
    fill: pink;
}
*/
.c3-xgrid-line.today line {
    stroke: red;
}
.c3-xgrid-line.today text {
    fill: red;
}
